{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="content container">
    <h1>{{ .Site.Title }}</h1>
<div class="posts">
<p>I am the cofounder of <a href="http://www.designerfund.com/" target="_blank">Designer Fund</a>, helping designers build businesses with meaningful impact. Before Designer Fund, I worked as a design lead and design manager at Facebook for nearly 6 years - helping build the <a href="https://developers.facebook.com/" target="_blank">Facebook Platform</a>, the <a href="https://www.facebook.com/analoglab/" target="_blank">Communication Design Team</a>, and <a href="https://www.facebook.com/notes/facebook/timeline-now-available-worldwide/10150408488962131/" target="_blank">Facebook Timeline</a>.
</p>
<p>
I am also a member of <a href="http://www.designerfund.com/dfg" target="_blank">Designer Founder Guild</a> - a group of designer founders that gathers regularly to help more designer founders succeed.
</p>
<p>
I write my thoughts on design and startups on our <a href="http://designerfund.com/blog" target="_blank">Designer Fund Blog</a> and on our <a href="https://medium.com/designer-fund" target="_blank">Designer Fund Medium Publication</a>.
</p>
<p>
Follow me on <a href="http://twtiter.com/blumenfeld" target="_blank">Twitter</a> and <a href="http://facebook.com/ben" target="_blank">Facebook</a>.
</p>
<script async id="-clp-39" src="https://withcoach.com/landing_pages/39/embed.js"></script>

  </div>
</div>
</div>

  </body>
</html>
