{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="posts">
<p>I am the cofounder of <a href="http://www.designerfund.com/">Designer Fund</a>, helping designers build businesses with meaningful impact. Before Designer Fund, I worked as a design lead and design manager at Facebook for nearly 6 years - helping build the <a href="https://developers.facebook.com/">Facebook Platform</a>, the <a href="https://www.facebook.com/analoglab/">Communication Design Team</a>, and <a href="https://www.facebook.com/notes/facebook/timeline-now-available-worldwide/10150408488962131/">Facebook Timeline</a>.
</p>
<p>
I am also a member of <a href="http://www.designerfund.com/dfg">Designer Founder Guild</a> - a group of designer founders that gathers regularly to help more designer founders succeed.
</p>
<p>
I write my thoughts on design and startups on the <a href="http://designerfund.com/blog">Designer Fund Blog</a> and on <a href="https://medium.com/designer-fund">Medium</a>.
</p>

  </div>
</div>
</div>

  </body>
</html>
